# ERA5データの取得・解析
cdsapi>=0.6.1
xarray>=2023.6.0
netCDF4>=1.6.0

# データ処理
pandas>=1.5.3
numpy>=1.23.5
pandas_datareader

# 空間処理・国境集計
geopandas>=0.13.0
shapely>=2.0.1
pyproj>=3.5.0

# 因果推論モデル（LiNGAMやPCMCI+）
lingam>=1.7.0
scikit-learn>=1.2.2

# グラフ構造処理（可視化なし）
networkx>=3.1

# 設定ファイル用
pyyaml>=6.0
